.menu-bar {
    position: fixed;
    top: 0;
    width: 1200%;
    left: 0;
    background: #eeeeee;
}

.menu-btn-group {
    position: fixed;
    top: 0;
    width: auto;
    right: 100px;
    background: #eeeeee;
}

.container {
    position: relative;
}

.border {
    border: 1px solid #a2a2a2;
}

.control-area {
    height: 600px;
}

.edit_area {

}

.view_area {
    display: none;
}

.editor_panel {
    height: 600px;
}

.canvas-area {
    height: 100%;
    /*position: absolute;*/
    /*min-width: 600px;*/
    /*min-height: 400px;*/
    /*left: 0;*/
    /*top: 0;*/
}

.active {
    background: lightpink;
}