{% extends 'layout/website.html' %}
{% block body %}
    <div id="container_wrapper">
        <div id="menubar_wrapper">
            <div class="menu-bar">
                {# put menus here #}
            </div>
        </div>
        <div class="container container-fluid">
            <div class="row-fluid">
                <div class="span4 control-area">
                    <!--Sidebar content-->
                </div>
                <div class="span8 edit-view-area">
                    <div class="editor_panel">
                        <div class="edit_area canvas-area border">
                        </div>
                        <div class="view_area canvas-area border">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/editor.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/threejs/UI.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/threejs/UI.three.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/signals.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/threejs/Viewport.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/three.helper.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/ui.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/editor.ui.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/editor.js') }}"></script>
{% endblock %}