{% extends 'layout/website.html' %}
{% block body %}
    <div id="container_wrapper">
        <div id="menubar_wrapper">
            <div class="menu-bar">
                {# put menus here #}
            </div>
        </div>
        <div class="container container-fluid">
            <div class="row-fluid">
                <div class="span4 control-area border">
                    <!--Sidebar content-->
                </div>
                <div class="span8 edit-view-area border">
                    <div>
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#2dview" data-toggle="tab">2D视图</a></li>
                            <li><a href="#3dview" data-toggle="tab">3D视图</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="2dview" class="edit-area canvas-area tab-pane fade in active">
                                2d view
                            </div>
                            <div id="3dview" class="view-area canvas-area tab-pane fade">
                                3d view
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/editor.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/threejs/UI.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/threejs/UI.three.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/signals.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/threejs/Viewport.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/three.helper.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/ui.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/editor.ui.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/editor.js') }}"></script>
{% endblock %}