{% extends 'layout/website.html' %}
{% block body %}
    <div id="container_wrapper">
        <div class="container container-fluid">
            <div id="menubar_wrapper">
                <div class="menu-bar">
                    {# put menus here #}
                </div>
                <div class="menu-btn-group btn-group" data-toggle="buttons-radio">
                    <button type="button" class="show_2d_btn btn btn-inverse active">2D</button>
                    <button type="button" class="show_3d_btn btn btn-inverse">3D</button>
                </div>
            </div>
            <div class="row-fluid">
                <div id="control_panel" class="span4 control-area">
                    <div class="panelHtmlTmpl" style="display: none;">
                        <div id="propertyPanelHtmlTmpl">
                            Property
                        </div>
                        <div id="wallsPanelHtmlTmpl">
                            <table class="walls-table table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Style</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="span8 edit-view-area">
                    <div class="editor_panel">
                        <div class="edit_area canvas-area border">
                        </div>
                        <div class="view_area canvas-area border">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/editor.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/threejs/UI.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/threejs/UI.three.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/signals.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/threejs/Viewport.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/three.helper.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/ui.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/editor.ui.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/editor.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/editor.extapp.js') }}"></script>
{% endblock %}