{% extends 'layout/website.html' %}
{% block body %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/website.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/editor.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/THREEx.WindowResize.js') }}"></script>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                <div class="empty2"></div>
                <div class="block create-geo table-bordered align-center">
                    <p class="label label-info">添加基本几何体</p>
                    <br>
                    <button id="addPlaneBtn" class="btn btn-warning">平面</button>
                    <button id="addCubeBtn" class="btn btn-warning">长方体</button>
                    <button id="addCylinderBtn" class="btn btn-warning">圆柱体</button>
                    <button id="addSphereBtn" class="btn btn-warning">球体</button>
                </div>
                <div class="block create-from-resource table-bordered align-center">
                    <p class="label label-info">从资源中添加</p>
                    <br>
                    <a id="addMeshFromUploadedBtn"
                       class="btn btn-warning"
                       href="{{ url_for('resource.index') }}"
                       target="_blank">从现有资源中添加</a>
                    <br>
                    <input id="toAddResourceNameInput" type="text" placeholder="要添加的资源名称">
                    <button id="addObject3DBtn" class="btn btn-danger">添加</button>
                    <br>
                    <a id="addMeshByUploadBtn"
                            class="btn btn-warning"
                            href="{{ url_for('resource.upload') }}"
                            target="_blank">上传资源添加</a>
                </div>
                <div class="block info table-bordered align-center">
                    <p class="label label-info">场景</p>
                    <br>

                    <p>Camera:
                        <br>
                        Position:
                        <input type="text" id="cameraPositionXInput" value="100" class="span2">
                        <input type="text" id="cameraPositionYInput" value="120" class="span2">
                        <input type="text" id="cameraPositionZInput" value="-50" class="span2">
                        <button class="btn btn-primary" id="applyCameraPositionBtn">Apply</button>
                        <hr>
                        <button id="cameraUpBtn" class="btn btn-inverse">相机升高</button>
                        <button id="cameraDownBtn" class="btn btn-danger">相机降低</button>
                    </p>
                    <p>
                        Common: <br>
                        Name: <input type="text" id="commonNameInput">
                        Position:
                        <input type="text" id="commonPositionXInput" class="span2">
                        <input type="text" id="commonPositionYInput" class="span2">
                        <input type="text" id="commonPositionZInput" class="span2">
                        <br>
                        Rotation:
                        <input type="text" id="commonRotationXInput" class="span2">
                        <input type="text" id="commonRotationYInput" class="span2">
                        <input type="text" id="commonRotationZInput" class="span2">
                        <br>
                        <button id="applyCommonAttributeBtn" class="btn btn-primary">Apply</button>
                    </p>
                </div>
                <div class="block info table-bordered align-center">
                    <p class="label label-info">属性</p>
                    <br>
                </div>
            </div>
            <div class="span10">
                <div class="empty2"></div>
                <div id="canvas-container">

                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    var static_url = '/static/';
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/three.helper.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/editor.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/editor.ui.js') }}"></script>
{% endblock %}
