{% extends 'layout/website.html' %}
{% block body %}
    <link rel="stylesheet" href="{{ url_for("static", filename='css/website.css') }}">
    <h3>Resources</h3>
    <p>
    <div class="align-center">
        <a href="{{ url_for('resource.upload') }}">上传资源</a>
        <span>&nbsp; &nbsp; &nbsp; &nbsp;</span>
        <a href="{{ url_for('resource.convert_obj') }}">格式转换</a>
    </div>
    <div class="empty4"></div>
    <div class="division-line">
        <p class="division-tip">分割线</p>
    </div>
    <div class="empty4"></div>
    </p>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Key</th>
            <th>Type</th>
            <th>Create Time</th>
            <th>Tags</th>
            <th>Creator</th>
            <th>URL</th>
        </tr>
        </thead>
        <tbody>
        {% for resource in resources %}
            <tr>
                <td><a href="{{ url_for('resource.get_by_name', resource_name=resource.name) }}">{{ resource.name|e }}</a></td>
                <td>{{ resource.blob_key }}</td>
                <td>{{ resource.type }}</td>
                <td>{{ resource.create_time }}</td>
                <td>{{ resource.tags|e }}</td>
                <td>{{ resource.creator_id }}</td>
                <td>{{ url_for('resource.get_by_name', resource_name=resource.name) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}